<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Proffy | Sua plataforma de estudos</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/partials/page-study.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-study">

    <div id="container">
        <!-- Header, Main, Article, Footer são para o desenvolvimento Web mais semântico -->
        <header class="page-header"> <!-- Tag que indica o cabeçalho da página, isso no conteúdo visivel, difirente da tag head -->
            <div class="top-bar-container">
                <a href="/">
                    <img src="/images/icons/back.svg" alt="Voltar">
                </a>
                <img src="/images/logo.svg" alt="Proffy">
            </div>
            <div class="header-content">
                <strong>Esses são os proffys disponivéis</strong>
                <form id="search-teachers"> <!-- Cria um formulário -->
                    <div class="select-block"> <!-- Cria uma caixa para a seleção das matérias -->
                        <label for="subject">Matéria</label> <!-- Identificador do campo --> 
                        <select name="subject" id="subject"> <!-- Cria uma caixa de seleção -->
                            <option value="" hidden >Selecione uma opção</option> <!-- Opções da caixa de seleção, hidden esconde a opção não sendo possível selecioná-la-->
                            <option value="1">Artes</option>
                            <option value="2">Biologia</option>
                            <option value="3">Ciências</option>
                            <option value="4">Educação física</option>
                            <option value="5">Física</option>
                            <option value="6">Geografia</option>
                            <option value="7">História</option>
                            <option value="8">Matemática</option>
                            <option value="9">Português</option>
                            <option value="10">Química</option>
                        </select>
                    </div>
                    <div class="select-block">
                        <label for="weekday">Dia da semana</label>
                        <select name="weekday" id="weekday">
                            <option value="" hidden >Selecione uma opção</option>
                            <option value="0">Domingo</option>
                            <option value="1">Segunda-feira</option>
                            <option value="2">Terça-feira</option>
                            <option value="3">Quarta-feira</option>
                            <option value="4">Quinta-feira</option>
                            <option value="5">Sexta-feira</option>
                            <option value="6">Sábado</option>
                        </select>
                    </div>
                    <div class="input-block">
                        <label for="time">Hora</label>
                        <input name="time" id="time" type="time">
                    </div>
                    <button type="submit">Filtrar</button>
                </form>
            </div>
        </header>

        <main> <!-- tag que indica o conteúdo principal da página -->

            <!-- Para acessar um objeto mandado pelo nunjucks chaves dentro de chaves -->
            <!-- O nunjucks reconhece as chaves duplas mesmo em um comentário -->
            {%for proffy in proffys %}
                <article class="teacher-item"> <!-- Tag que indica um conteúdo que se repetirá várias vezes no site -->
                    <header>
                        <img 
                            src="{{proffy.avatar}}" 
                            alt="{{proffy.name}}">
                        <div>
                            <strong>{{proffy.name}}</strong>
                            <span>{{proffy.subject}}</span>
                        </div>
                    </header>
                
                    <p>{{proffy.bio}}</p>
                
                    <footer> <!-- Tag que indica o rodapé do elemento -->
                        <p>Preço/hora<strong>R$ {{proffy.cost}}</strong>
                        </p>
                        <button type="button">
                            <img src="/images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato
                        </button>
                    </footer>
                </article>
            {%endfor%}

        </main>
    </div>
    
</body>
</html>